# Visual Studio temporary files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build outputs
/bin/
/obj/

# SSIS deployment/build files
*.ispac      # The compiled deployment file for SSIS project
*.dtproj.user
*.database
*.cache
*.bak
*.log

# Backup or temp files
*.tmp
~$*
